bcrypt==2.0.0
Beaker==1.8.1
certifi==2022.12.7
cffi==1.10.0
chardet==3.0.4
Flask==0.10.1
Flask-Bcrypt==0.7.1
Flask-DotEnv==0.1.0
Flask-HTTPAuth==3.1.2
Flask-Session==0.3.1
funcsigs==1.0.2
idna==2.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==1.0
pycparser==2.17
pyscard==1.9.5
requests==2.17.2
RPi.GPIO==0.6.3
six==1.10.0
urllib3==1.21.1
virtualenv==15.1.0
Werkzeug==0.11.9
